@{
    ViewBag.Title = "Заявка принята";
    Layout = "~/Views/Shared/AuthPagesMasterLayout.cshtml";
}
<div class="panel signin" style="width:600px;">
    <div class="panel-heading">
        <h1>Chetambrat.com</h1>
    </div>
    <div class="panel-body">

        <h4 class="panel-title">Спасибо за Ваше желание стать нашим партнером. Мы приняли Вашу заявку и обработаем ее в ближайшее время. Наши сотрудники с Вами свяжутся.</h4>
        <br /><br />
        <center><a href="/">Вернуться на сайт</a></center>
    </div>
</div><!-- panel -->